@import "breakpoints";

$base-bg: #fafafa;
$content-bg: #fff;
$common-corner: 8px;
$border-default: 1px solid #dadada;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background: $base-bg;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

:root {

    /* colors */
    --content-color: #fff;
}

.content {
    width: 100%;
    height: 100%;
    background: $content-bg;

    @include sm {
        border-radius: $common-corner;
    }
}